<div class="text">
    <h3>
        A platform to assist those who are disabled find jobs, build the confidence to apply for
        jobs, and talk to people, like themselves, who are currently working.
        And with the end goal, of improving their chances of employment.
    </h3>
</div>
<div id="about">
    <div id="triangle-down"></div>
    <h1>About us </h1>
    <p>This site was created as part of a 2 day hackathon event,
        working with Royal London Society for Blind People to improve the lives of young blind Londoners and
        ultimately create a piece of technology
        to get blind people into employment. <br><br><br>
        2/3 blind people are currently not in employment.
        47% of disabled people currently work compared to the 77% of non disabled people.
        Disabled people are more likely to be long term unemployed and economically inactive,
        Over half of disabled people claiming incapacity benefits have been out of work for more than 5 years.
        <br><br> <br><span>We aim to change this.</span> </p>
</div>
<div id="about2">
    <table>
        <tr>
            <th colspan="3">Our Plan</th>
        </tr>
        <tr class='titles'>
            <td>Connecting</td>
            <td>Sharing</td>
            <td>Employment</td>
        </tr>
        <tr>
            <td><img src="./images/people.png" width="100px" alt="people colaborating"></td>
            <td><img src="./images/search.png" width="100px" alt="search for people"></td>
            <td><img src="./images/job.png" width="100px" alt="job"></td>
        </tr>
        <tr>
            <td>Connecting unemployed disabled people to others, with conditions like
                themselves, who are currently in employment within an industry they
                potentially want to work in</td>
            <td>Providing a space to find suitable jobs, in a industry and
                see how accessible their offices are, how many disabled people they currently employ, or gain work experience </td>
            <td>Getting disabled people into employment. Providing help via contacting real people,
                reading tips about interviews, the law and how to build up valuable skills</td>
        </tr>
    </table>
</div>