<h1> Tips </h1>
<h3 class="center">Interview Skills</h3>
<a href="#tips/" class="center"> Back</a>
<div id="tips">
    <table>
        <tr>
            <td colspan="4">Topic: Interview Tips</td>
        </tr>
    </table>
    <div>
        <img src="./images/person.jpg" alt="profile pic" width="100px" style="float:left">
        <h4>John Smith </h4>

        <div class="body-text">
            <p><a href="#">View Profile</a></p>

            <p><b>Date Posted: 26/07/2015 </b><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                laborum. </p>
        </div>
    </div>
    <div>
        <img src="./images/person.jpg" alt="profile pic" width="100px" style="float:left">

        <h4>Joe Blogs </h4>

        <div class="body-text">
            <p><a href="#">View Profile</a></p>

            <p><b>Date Posted: 25/07/2015 </b><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                laborum. </p>
        </div>
    </div>
</div>
