<h1>People Search</h1>
<form class="form">
  <div>
    <label for="industry">Industry</label>
    <input type="text" id="industry" name="industry">
  </div>

  <div>
    <label for="job-title">Job Title</label>
    <input type="text" id="job-title" name="job-title">
  </div>

  <div>
    <label for="company">Company</label>
    <input type="text" id="company" name="company">
  </div>

  <div>
    <label for="location">Location</label>
    <input type="text" id="location" name="location">
  </div>

  <fieldset>
    <legend>Disability</legend>
    <label for="mobility">Mobility</label>
    <input type="checkbox" name="disability[]" id="mobility" value="mobility">
    <label for="mental">Mental</label>
    <input type="checkbox" name="disability[]" id="mental" value="mental">
    <label for="hearing">Hearing</label>
    <input type="checkbox" name="disability[]" id="hearing" value="hearing">
    <label for="sight">Sight</label>
    <input type="checkbox" name="disability[]" id="sight" value="sight">
  </fieldset>

</form>
