<h1> Tips </h1>

<h3 class="center">This is a space where you can find user generated advice in several areas to do with employment. </h3>
<img class ="tips" src="./images/tips.png">
<div id="triangle-down"></div>
<div id="advice">
    <table>
        <tr>
            <th colspan="3">Current Topics </th>
        </tr>
        <tr>
            <td><a href="#/tips/interview"><p>Interview Skills</p></a></td>
            <td><a href="#"><p>CV Writing</p></a></td>
            <td><a href="#"><p>Contacting An Employer</p></a></td>
        </tr>
        <tr>
            <td><a href="#"><p>The Disability Discrimination Act</p></a></td>
            <td><a href="#"><p>Gaining Skills</p></a></td>
            <td><a href="#"><p>First Day Of Work</p></a></td>
        </tr>
    </table>
</div>
</div>