<h1> Tips </h1>

<h3 class="center">This is a space where you can find user generated advice in several areas to do with employment. </h3>
<img class ="tips" src="./images/tips.png">
<div id="triangle-down"></div>
<div id="advice">
    <h1>Current Topics</h1>
    <ul class="topics">
        <li class="topics_item">
            <a href="#/tips/interview">Interview Skills</a>
        </li>
        <li class="topics_item">
            <a href="#">CV Writing</a>
        </li>
        <li class="topics_item">
            <a href="#">Contacting An Employer</a>
        </li>
        <li class="topics_item">
            <a href="#">The Disability Discrimination Act</a>
        </li>
        <li class="topics_item">
            <a href="#">Gaining Skills</a>
        </li>
        <li class="topics_item">
            <a href="#">First Day Of Work</a>
        </li>
    </ul>
</div>
